@use "fonts";
@import "navbar";
@import "footer";

.container-section {
    /* All sections */
    display: flex;
    margin: 30px auto;
    max-width: 80%;
    max-height: 100vh;

    &.section-2 {
        display: block;
        max-height: none;
    }
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: inherit;
}

.left-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    min-height: inherit;

    &.section-3 {
        width: 60%;
    }
}

.right-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: flex-end;
    align-items: flex-end;

    &.section-3 {
        width: 20%;
    }
}

.middle-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-self: end;

    &.section-3 {
        width: 20%;
    }
}

.right-container-info-1 {
    position: relative;
    padding-top: 20px; /* Extra spacing at the top to avoid overlapping the content */
}

.right-container-info-1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3%; /* "Border" width */
    height: 3px; /* Height of the "border" */
    background-color: fonts.$main-font-color; /* "Border" color */
}
.main-title,
.second-title,
.third-title,
.fourth-title,
.right-container-info-1,
.info-1,
.info-3,
.info-4-style-1,
.info-4-style-2,
.info-4-style-3,
.span-style {
    font-family: fonts.$main-font;
    font-optical-sizing: auto;
    width: 85%;
    margin: 10px;

    &.main-title,
    &.second-title,
    &.third-title,
    &.fourth-title {
        font-weight: 700;
        font-style: normal;
        width: auto;
    }

    &.main-title {
        font-size: 40px;
        line-height: 55px;
    }

    &.second-title {
        font-size: 28px;
        line-height: 38px;
    }

    &.third-title {
        font-size: 22px;
        line-height: auto;
    }

    &.fourth-title {
        font-size: 18px;
        line-height: auto;
    }

    &.info-1,
    &.info-3,
    &.info-4-style-1,
    &.info-4-style-2,
    &.info-4-style-3 {
        font-size: 16px;
        line-height: auto;
        font-style: normal;
    }

    &.info-1,
    &.info-4-style-2 {
        color: fonts.$main-font-color;
    }

    &.info-1 {
        font-weight: 700;
        line-height: 26px;
    }

    &.info-3 {
        font-weight: 400;
        line-height: 26px;
    }

    &.info-4-style-2 {
        width: 11vw;
        font-weight: 400;
    }

    &.span-style {
        color: fonts.$highlight-color;
    }
}

.grid-section-2 {
    display: grid;
    gap: 2vh;
    padding-top: 2%;
    padding-bottom: 2%;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(32, 1fr);
}

.grid-section-2 img,
.grid-section-2 div {
    width: inherit;
    height: inherit;
}

.image1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 8;
}

.image2 {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 7;
}

.image3 {
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 11;
}

.image4 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 8;
    grid-row-end: 16;
}

.image5 {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 7;
    grid-row-end: 14;
}

.image6 {
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 11;
    grid-row-end: 18;
}

.image7 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 16;
    grid-row-end: 24;
}

.image8 {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 14;
    grid-row-end: 23;
}

.image9 {
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 18;
    grid-row-end: 27;
}

.image10 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 24;
    grid-row-end: 33;
}

.image11 {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 23;
    grid-row-end: 33;
}

.image12 {
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 27;
    grid-row-end: 33;
}

.grid-section-4 {
    display: grid;
    gap: 10vh;
    padding-top: 2%;
    padding-bottom: 2%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    align-items: start; /* Aligns content to the top of cells */
    border-top: 2px solid fonts.$main-font-color;
    border-bottom: 2px solid fonts.$main-font-color;
}

/* Style for the separator element */
.separator {
    grid-column: 1 / -1; /* Occupy all columns */
    grid-row: 3; /* Position between the second and third line */
    height: 2px;
    background-color: fonts.$main-font-color;
}

/* Items 1 to 7 */
.item-1 {
    grid-column: 1;
    grid-row: 1 / 3; /* Occupies the first two lines */
}

.item-2 {
    grid-column: 2;
    grid-row: 1;
}

.item-3 {
    grid-column: 3;
    grid-row: 1;
}

.item-4 {
    grid-column: 4;
    grid-row: 1;
    justify-self: end;
}

.item-5 {
    grid-column: 2;
    grid-row: 2;
}

.item-6 {
    grid-column: 3;
    grid-row: 2;
}

.item-7 {
    grid-column: 4;
    grid-row: 2;
    justify-self: end;
}

/* Items 8 to 14 */
.item-8 {
    grid-column: 1;
    grid-row: 3 / 5; /* Occupies the third and fourth line */
}

.item-9 {
    grid-column: 2;
    grid-row: 3;
}

.item-10 {
    grid-column: 3;
    grid-row: 3;
}

.item-11 {
    grid-column: 4;
    grid-row: 3;
    justify-self: end;
}

.item-12 {
    grid-column: 2;
    grid-row: 4;
}

.item-13 {
    grid-column: 3;
    grid-row: 4;
}

.item-14 {
    grid-column: 4;
    grid-row: 4;
    justify-self: end;
}
